img{
    display: block;
    margin: auto;
    margin-top: 50px;
}

#signUpForm{
    width: 30%;
    margin: auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
}

#signInForm{
    width: 30%;
    margin: auto;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
}

input{
    font-size: 20px;
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 5px 0px 5px 0px;
}
h1{
    text-align: center;
    color: black;
}
p{
    text-align: center;
}

#submit{
    margin-top: 30px;
}
#submit:hover{
    color: white;
    background-color: black;
}